/*CSS header*/
@keyframes changecolor {
    0%{
        color: red;
    }
    25%{
        color:blue;
    }
    25%{
        color:green;
    }   
}
@keyframes zoom {
    from{transform: scale(0);}
    to{transform: scale(120%);}
    
}
.subject{
    animation:changecolor 5s infinite;
    text-transform: uppercase;
    text-align: center;
}
ul.menu{
    list-style-type: none;
    display:flex;
    background-color: lightgray;
    margin:0;
    padding:0;
}
ul.menu >li{
    border-left: 1px solid white;
}
ul.menu >li:last-child{
    margin-left: auto;
}
ul.menu > li>a{
    text-decoration: none;
    display:block;
    padding:1em;
}
ul.menu >li>a:hover{
    background-color: #0000FF;
    color: white;
}
/*CSS body*/
.languages{
    background-color: lightblue;
}
.language > img{
    float: left;
    width:100px;
}
.language{
    overflow:auto;
    border-top: 2px solid white;
}
.language img{
    animation:zoom .1s infinite;
}
/*CSS Footer*/
@keyframes move {
    from{
        left:0%;
    }
    to{
        left: 100%;
    }
}
footer{
    background-color: #0000FF;
}
footer>div{
    padding: 10px;
    text-transform: uppercase;
    color:white;
    animation: move 8s infinite;
    position: relative;
}
/*CSS submenu*/
.submenu{
    display: none !important;
    position:absolute;
}
.item:hover .submenu{
    display: block !important;;
}
